<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message Form</title>
    <style>
      body {
        background-color: #3a3a3a;
        color: white;
      }
    </style>
  </head>
  <body>
    <h1>Message Form</h1>
    <form action="/new" method="post">
      <label for="messageText">Write Your message Text</label>
      <input type="text" name="messageText" id="" />
      <label for="messageAuthor">Write Your name</label>
      <input type="text" name="messageAuthor" id="" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
